In [1]:
import numpy as np
import pandas as pd

# Series

In [3]:
colors = ['red', 'green', 'blue', 'orange', 'yellow', 'white', 'black', 'pink', 'orange', 'yellow', 'blue']
numbers = [ 1 , 2, 3, 4, 5, 6, 7, 8, 9, 3, 2, 1, 4, 8, 9]
ser_color = pd.Series( colors )
ser_numbers = pd.Series(numbers)

In [4]:
ser_color

0        red
1      green
2       blue
3     orange
4     yellow
5      white
6      black
7       pink
8     orange
9     yellow
10      blue
dtype: object

In [5]:
ser_numbers

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9     3
10    2
11    1
12    4
13    8
14    9
dtype: int64

In [6]:
ser_color.shape

(11,)

In [9]:
ser_color.ndim

1

In [10]:
  ser_color.isnull()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
dtype: bool

In [14]:
type(ser_color.apply(lambda x : x[0]))

pandas.core.series.Series

In [15]:
type(ser_color.transform(lambda x : x[0]))

pandas.core.series.Series

In [16]:
index = ser_color.apply(lambda x: x[0])
ser_color.index = index

In [41]:
ser_color

r       red
g     green
b      blue
o    orange
y    yellow
w     white
b     black
p      pink
o    orange
y    yellow
b      blue
dtype: object

In [43]:
ser_color.reset_index(name='Color') # Note this returns a Dataframe where the index becomes a column

   index   Color
0      r     red
1      g   green
2      b    blue
3      o  orange
4      y  yellow
5      w   white
6      b   black
7      p    pink
8      o  orange
9      y  yellow
10     b    blue

In [20]:
# positional access (numpy style)
ser_color[1:3] #OR ser_color.iloc[1:3]

g    green
b     blue
dtype: object

In [21]:
# index label access
ser_color['r']

'red'

In [22]:
# multiple
ser_color[['r', 'o']]

r       red
o    orange
o    orange
dtype: object

In [23]:
ser_color.head()

r       red
g     green
b      blue
o    orange
y    yellow
dtype: object

In [24]:
ser_color.tail()

b     black
p      pink
o    orange
y    yellow
b      blue
dtype: object

In [25]:
ser_color.take([1,3,6])

g     green
o    orange
b     black
dtype: object

  <i>Series Support broadcast when binary operations with scalar and elementwise with another series</i>

In [26]:
ser_numbers * 2

0      2
1      4
2      6
3      8
4     10
5     12
6     14
7     16
8     18
9      6
10     4
11     2
12     8
13    16
14    18
dtype: int64

In [27]:
# filter elements using conditions
ser_numbers[ser_numbers > 5]

5     6
6     7
7     8
8     9
13    8
14    9
dtype: int64

In [28]:
#unique elements
ser_color.unique()

array(['red', 'green', 'blue', 'orange', 'yellow', 'white', 'black', 'pink'], dtype=object)

In [29]:
# Group and do aggregate count on each value
ser_color.value_counts()

yellow    2
orange    2
blue      2
black     1
red       1
white     1
pink      1
green     1
dtype: int64

In [30]:
# total elements
ser_color.count()

11

In [31]:
# Drop certain lables
ser_color.drop('y')

r       red
g     green
b      blue
o    orange
w     white
b     black
p      pink
o    orange
b      blue
dtype: object

In [32]:
ser_numbers.describe()

count    15.000000
mean      4.800000
std       2.858571
min       1.000000
25%       2.500000
50%       4.000000
75%       7.500000
max       9.000000
dtype: float64

In [39]:
# fill missing values
pd.Series([1, 2, np.nan, 8]).interpolate()

0    1.0
1    2.0
2    5.0
3    8.0
dtype: float64

In [40]:
ser1 = pd.Series([1, 4, 7, np.nan, 10, np.nan])
ser1.fillna(ser1.mean()) # fill missing values with the mean

0     1.0
1     4.0
2     7.0
3     5.5
4    10.0
5     5.5
dtype: float64

In [44]:
# Aggregate over entire series to give one value
ser_numbers.sum()

72

In [45]:
ser_numbers.max()

9

In [46]:
# Cummulative Aggregation to give another series
ser_numbers.cumsum()

0      1
1      3
2      6
3     10
4     15
5     21
6     28
7     36
8     45
9     48
10    50
11    51
12    55
13    63
14    72
dtype: int64

In [47]:
ser_numbers.cummax()

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9     9
10    9
11    9
12    9
13    9
14    9
dtype: int64

In [48]:
#Sorting by value
ser_numbers.sort_values()

0     1
11    1
1     2
10    2
2     3
9     3
3     4
12    4
4     5
5     6
6     7
7     8
13    8
8     9
14    9
dtype: int64

In [49]:
# sort by index
ser_color.sort_index()

b      blue
b     black
b      blue
g     green
o    orange
o    orange
p      pink
r       red
w     white
y    yellow
y    yellow
dtype: object

In [52]:
ser_color.append(pd.Series(['black', 'white'], index=['b','w']))

r       red
g     green
b      blue
o    orange
y    yellow
w     white
b     black
p      pink
o    orange
y    yellow
b      blue
b     black
w     white
dtype: object